.hero {
    height: 100%;
    min-height: calc(100vh - var(--header-height));

    // &__container {
    display: flex;
    flex-wrap: wrap;
    // }

    &__content,
    &__banner {
        max-width: 50%;
        width: 100%;
        flex: 1 1 50%;
        padding-top: 70px;
    }

    &__content {
        padding-left: max(20px, calc((100vw - $maxWidth) /2));
    }

    &__banner {
        & img {
            display: block;
            padding: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-family: $fontSonger;
        font-size: 5.3rem;
        line-height: 1.2em;
        font-weight: 700;
        color: $blue;
        margin: 0;
        margin-bottom: 60px;

        & .strong {
            font-size: 8rem;
            line-height: 1.2em;
        }
    }

    &__list {
        font-family: $fontFutura;
        font-size: 2.5rem;
        line-height: 1.2em;
        color: $black;
        margin-bottom: 60px;

        & li {
            position: relative;
            padding-left: 1em;

            &:before {
                content: "•";
                position: absolute;
                top: 0;
                width: 1em;
                height: 1em;
                left: 0;
                color: $blue;
            }
        }
    }
}
