.swal2 {

    &-popup {
        width: 100%;
        padding: 0;
    }

    &-conteiner {
        width: 100%;
    }

    &-html-container {
        margin: 0;
        padding: 0;
    }
}

.popup {
    width: 100%;
    height: auto;

    font-size: 1.4rem;
    overflow: hidden;
    margin: 0;
    padding: 0;



}
